*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: black;
    color: rgba(182, 194, 15, 0.842);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    margin-top: 30px;
    display: flex;
}

.logo{
    float: left;    
    width: 50px;
    border-radius: 15%;
    border: 2px solid #ffff;
}

.logo-nav{
    padding: 20px;
}

.present{
    margin-top: 15px;
    padding: 25px;
}

    /* ---------------------------- NAV ------------------------*/


.menu{         
    grid-area: menu;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-menu{
    width: 100%;
    display: flex;
    list-style: none;
    position: fixed;
    height: calc(100% - 65px);
    top: -100vh;
    transition: all .4s;
    flex-direction: column;
    z-index: 1;
    padding: 10px;
}

.btn-menu{
    float: right;
    margin-right: 30px;
    font-size: 25px;
    color: white;
    z-index: 2;
}

.events :hover{
    background-color: rgb(223, 98, 26);
}

ul.navigation {
    flex-direction: row;    
}

ul.show{
    top: 65px;
}

.nav-item{
    padding: 20px;
    list-style: none;
    display: inline;
    background-color: rgba(182, 194, 15);
}

h1, h2{
    display: flex;
    margin: auto;
    padding-left: 15px;
}

    /* ---------------------------- MAIN ------------------------*/

main, .form-stock{
    display: flex;
    flex-direction: column;
}

.form-stock{
    padding-top: 10px; 
}

.out-stock{
    color: red;
}

.principal{
    width: 100%;
}

.align-left{
    text-align: left;
    padding: 16px;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic{
    margin: 15px 2%;
    width: 40%;
    border-radius: 15%;
    border: 5px solid #ffff;
    text-align: justify;
}

/* ---------------------------- RIGHT SECTION ------------------------*/

.right-section, .stock{
    display: flex;
}



.event-list-container{
    padding: 16px;
    display: flex;
}

/* ---------------------------- LEFT SECTION ------------------------*/

.left-section{
    display: flex;
}

.box-decoration{
    background-color: rgb(223, 98, 26);
    width: 80%; 
    padding-top: 20%;  
    margin-top: 4%; 
    flex: auto;
}

.img-main{
    background-color: rgba(182, 194, 15, 0.842);;
    width: 80%; 
    padding-top: 20%;  
    margin-top: 4%; 
    flex: auto;
}


.decoration-none{
    list-style: none;
}

#form-contact{
    margin: 0px auto;
    border: 3px dashed;
}

/******** table ********/

.table{
    margin-top: 20px;
    border: 2px solid rgba(182, 194, 15, 0.842);
    border-collapse: collapse;
}

.stock{
    max-width: 100vw;
    overflow-x: scroll;

}

.table thead td{
    font-size: 20px;
    font-weight: 600;
}

.table td{
    border: 2px solid rgba(182, 194, 15, 0.842);
    padding: 4px 8px;
}

/******** form ********/
.formTable{    
    display: flex;
    margin: auto;
    padding: 20px;
}

.input-form{
    width: 100%;
    height: 37px;
}

.col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

/* ---------------------------- FOOTER ------------------------*/

footer{
    display: flex;
    padding: 20px;
}
.network{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(223, 98, 26);
    padding: 25px;
    margin: auto;
}

/********************************    DESKTOP     **************************************/

@media screen and (min-width: 550px){

    /****************************** D. NAV ****************************/

    .logo-nav{
        font-size: 70px;
    }

    .menu{
        height: 75px;
    }
    .nav-menu {
        position: static;           
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
        transition: none;
        height: 66px;
        width: auto;
    }

    .nav-item{
        background-color: black;
    }

    .nav-item a {
        padding: 6px;
        font-size: 18px;
        color: rgba(182, 194, 15);
        text-decoration: none;
        transition: .4s;
    }

    .nav-item a:hover{
        border-bottom: solid 2px rgba(182, 194, 15);
        font-size: 22px;
    }
    
    .nav-menu li:hover {
        background-color: black;
    }   

    .nav-menu li:active{
        background-color: cadetblue;
    }
    

    .btn-menu {
        visibility: hidden;
    }

    /***************************** D  HEADER **************************/

    header{
        text-align: center;
          
    }

    .uptake{
        font-size: 22px;
        display: flex;
        justify-content: space-around;
    }
    
    /*************************** D MAIN ***********************************/
    
    main{
        margin-bottom: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form-stock{
        padding: 0 10% 0 10%;
    }

    /*************************** CONTACT *******************************/
    .contact{
        width: 450px;
    }
    
    /*************************** PICTURES *******************************/
    

    .pic{
        width: 25%;
    }

    .img-main{       
        background-color:#f33d05;
        width: 64%;    
        margin: 19% 18% 0 18%;
        padding-top: 82%;
        flex: auto;
    }

    /***************************** D  FOOTER **************************/

    .network{
        width: 100%;
        justify-content: space-evenly;
        padding: 0;
    }
}
